:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #cecece;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 800px;
  min-height: 600px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */

}

body{
  margin: 0;
  padding: 0;
}

#page-welcome,
#page-send-prompts,
#page-send-file,
#page-instructions,
#page-settings {
  display: none;
}

#page-welcome {
  display: block;
}

.container {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: left;
}

.menu {
  width: 200px;
  background-color: #5c5c5c;
  height: 96vh;
  flex-shrink: 0;
}

.main {
  margin: 1em;
  flex:1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: left;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

.download-link {
  margin-top: 4px;
}

ul {
  color: #b2b2b2;
  list-style: none;
  padding: 0;
}

li {
  padding: 0.75em;
  padding-left: 2em;
  transition: background-color 0.6s ease-in;
}

li:hover {
  background-color: #3e3e3e;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

li.selected {
  background-color: #3e3e3e;
}

li.selected:hover{
  cursor: default;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: normal;
}

input,
button,
textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  margin-top: 0.6em;
  margin-right: 0.8em;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}



button, input, textarea {
  outline: none;
}

input[type="text"],
textarea {
  padding: 0.5em;
  /*width: 640px;*/
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

#repeat-number{
  width: 34px;
  text-align: right;
}

input.short,
textarea.short {
  width: 200px;
}

textarea {
  resize: none;
}

input:focus, textarea:focus, button:focus {
  box-shadow: 0 0 0 1px #396cd8;
}

button[disabled],
input[disabled], input[readonly] {
  background: #e9e9e9;
  color: #666666;
  cursor: default;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button[disabled]:hover,
button.submit-prompt[disabled]:hover{
  border-color: transparent
}

button.submit-prompt {
  padding: 6px;
  width: 130px;
  /*border-width: 2px;*/
  /*border-color: #61b782;*/
  margin: 5px 0 0 0;
}

button.submit-prompt:hover{
  border-color: #61b782;
}

.suffix {}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.4em 0.5em;
  background-color: #343434;
  color: #ffffff;
  width: 100%;
}

.status{ flex: 30; }
.counters {text-align: right; margin-right: 1em;}

.spacer{margin-top: 3em;}

.overlay {
  position: fixed; /* Full-width */
  z-index: 9999; /* Make sure it does not hide behind other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* stack loader and text vertically */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

#loadingText {
  color: #f3f3f3; /* Make text light grey */
  font-size: 20px; /* Set the font size */
  margin-top: 20px; /* Add some spacing between loader and text */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.options {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column .row {
  text-align: right;

}

.half-column {
  flex: 1;
  padding: 10px;
  /*border: 1px solid #000;  !* optional: for visibility of the divs *!*/
}

.column {
  flex-direction: column;
  text-align: left;
  padding: 10px;
  /*border: 1px solid #000;  !* optional: for visibility of the divs *!*/
}

.alignright {
  text-align: right;
  align-items: flex-end;
}







/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    color: #f6f6f6;*/
/*    background-color: #2f2f2f;*/
/*  }*/

/*  a:hover {*/
/*    color: #24c8db;*/
/*  }*/

/*  input,*/
/*  button,*/
/*  textarea {*/
/*    color: #f6f6f6;*/
/*    background-color: #0f0f0f98;*/
/*  }*/
/*  button:active {*/
/*    background-color: #0f0f0f69;*/
/*  }*/

/*  #footer{*/
/*    color: #f6f6f6;*/
/*    background-color: #101010;*/
/*  }*/

/*  input::placeholder, textarea::placeholder {*/
/*    color: #666;*/
/*  }*/

/*  button[disabled],*/
/*  input[disabled],*/
/*  input[readonly] {*/
/*    background: #242424;*/
/*    color: #777;*/
/*  }*/

/*  !* This will change the color of the scrollbar track (background) *!*/
/*  textarea::-webkit-scrollbar-track {*/
/*    background: #202020;*/
/*    color: red;*/
/*  }*/

/*  !* This will change the color of the scrollbar thumb (the part you drag) *!*/
/*  textarea::-webkit-scrollbar-thumb {*/
/*    background: #888;*/

/*  }*/

/*  !* Change the color of the scrollbar thumb when it's hovered *!*/
/*  textarea::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/

/*  }*/


/*}*/



